{% extends "base.html" %}

{% block content %}

<h1>{{ user.username }}</h1>

<p>BSTs: {{ au.available_points }} available (from {{ au.points }} total)</p>
<p>go here to <a href="/accounts/password_change/">change your password</a></p>

{% if open_auctions or won_auctions %}
<table width="100%">
{% if open_auctions %}
<tr><th colspan="3">Open Auctions You've Bid On</th></tr>

{% for auction in open_auctions %}  

<tr>
   <td><a href="/auction/{{ auction.id }}/"><img src="{{ auction.square_url }}" width="75" height="75" /></a></td>
   <td>days left: <b>{{ auction.days_left }}</b><br />
   current bid: <b>{{ auction.highest_bid }}BST</b></td>
   <td>{% ifequal auction.top_bid_user_id user.id %}you are the top bidder
   {% else %}
   {% if auction.can_bid %}
<form action="/auction/{{ auction.id }}/bid/" method="post">
<input type="submit" value="increase your bid to {{auction.min_bid}}BST" />
</form>
   {% endif %}

   {% endifequal %}</td>
</tr>

{% endfor %}
{% endif %}

{% if won_auctions %}
<tr><th colspan="3">Auctions You've Won</th></tr>
{% for auction in won_auctions %}                                                                      
                                                                                                        
 <tr>
   <td><a href="/auction/{{ auction.id }}/"><img src="{{ auction.square_url }}" width="75" height="75" /></a></td>
   <td colspan="2">closed: <b>{{ auction.modified|date:"D, F j G:i:s" }}</b><br />
   winning bid: <b>{{ auction.highest_bid }}BST</b></td>
 </tr>

{% endfor %}
{% endif %}

</table>

{% else %}

<p>You haven't bid on any auctions that are open.</p>

{% endif %}


{% endblock %}

