{% extends "base.html" %}

{% block content %}

<h1>Welcome To My Experiment</h1>

<p>If you're reading this, it means that you are
one of the few that I've selected to try out one of my crazy ideas.</p>

<p>So, the basic problem is that I've been doing a lot of painting and drawing in the last few years. 
I have only a finite amount of space in my apartment and even when I do have space, not everything 
that I do is something that I want up on my own walls. </p>

<p>You may know that I <em>really</em> don't much like the idea of selling my artwork. It's just
not why I do it. Pieces that have meaning to me, I don't want to think about hanging on some
stranger's wall and charging my friends money is just about as unappealing to me. Please don't try
to convince me otherwise. I will out-stubborn you on this. </p>

<p>So, what I want to do is give some of it to you, my friends. </p>

<p>Giving away artwork for free is more difficult than it sounds though. It pretty much boils down to 
a question of fairness. Who gets which pieces? How is it decided? If I give a painting to friend A
and then discover that friend B really really really liked that one, what to do? </p>

<p>I also have a bad sense of what other people like. Some pieces that I'm really proud of and like a lot get 
a mediocre response when I show them to people. Other ones that I do and then think "Meh. That didn't 
turn out as well as I'd hoped." I show to other people and they love it and say it's the best thing
I've ever done. </p>

<p>So me sitting here deciding what to give to who would just be a disaster all around. </p>

<p>What I've decided to try instead is to let you all fight it out amongst yourselves. If you haven't 
guessed yet from the URL of this page, I'm doing a sort of auction. </p>

<p>No real money is involved though. I've invented a currency of my own, 'BST's, that I will issue to you
and that the auctions will be conducted in (there's a prize for the first person who figures out what I intend 'BST'
to stand for). When I have pieces to get rid of them, I'll put them up for auction on this site and
you can bid on them. </p>

<p>The <em>theory</em> at least is that this should allow things to be distributed as fairly as possible. If not,
my Economics texts have been lying to me. </p>

<p>I've put a lot of thought into how this should work to maximize "fairness" among bidders while 
keeping things as simple as possible. I've written up a full explanation of <a href="/rules/">the rules</a> which you
should familiarize yourself with. It should be pretty simple and obvious once you see it
in action. </p>

<p>Once you've read the rules, you should reply to my email to let me know if you are still interested
in participating and I'll set up an account for you and send you the login info. </p>

<p>This site isn't top secret, but since I haven't invited every single person I know to participate, I'd appreciate it 
if you keep it fairly quiet. Some people I haven't invited because I don't think they'd be interested
in my art, some because I just plain forgot about them, some because I don't have current contact info,
and others for a variety of other reasons which are my own and I don't want to have to explain. </p>

<p>Also please bear with me during any technical issues. This is a new site built on a framework
that's fairly new to me so I expect some bugs at the beginning.</p>

<p>Thank you, <br />
Anders</p>

{% endblock %}
