/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body {
  color: black;
  background-color: #ddd;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

td, th {padding:3px;border:none; vertical-align: top;}
tr th {text-align:left;background-color:#f0f0f0;color:#333;}
tr.odd td {background-color:#edf3fe;}
tr.even td {background-color:#fff;}

th h2 {
  margin: 0px;
}

#header {
	position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  background-color: #000;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin: 0 auto 0 auto;
}

#login { color: #999;
	position: absolute;
	top: -5px;
	right: 0px;
        margin: 0px;
        padding: 0px;
}
#login form {
	margin: 0px;
	padding: 0px;
}
#login input {
	font-size: .9em;
}

a.link, a, a.active {
  color: #369;
}


#main_content {
  color: black;
  font-size: 127%;
  background-color: white;
  width: 1000px;
  margin: 0 auto 0 auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 10px;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  float: right;
  width: 200px;
  font-size: 88%;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

h1,h2,h3,h4,h5,h6,#getting_started_steps {
  font-family: "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
}

h2 {
  font-size: 150%;
}

#getting_started_steps a {
  text-decoration: none;
}

#getting_started_steps a:hover {
  text-decoration: underline;
}

#getting_started_steps li {
  font-size: 80%;
  margin-bottom: 0.5em;
}

#getting_started_steps h2 {
  font-size: 120%;
}

#getting_started_steps p {
  font: 100% "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
}

#footer {
  border: 1px solid #aaa;
  border-top: 0px none;
  color: #999;
  background-color: white;
  padding: 10px;
  font-size: 80%;
  text-align: center;
  width: 1000px;
  margin: 0 auto 1em auto;
}

.code {
  font-family: monospace;
}

span.code {
  font-weight: bold;
  background: #eee;
}

#status_block {
  margin: 0 auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  background: #cec URL('../images/ok.png') left center no-repeat;
  border: 1px solid #9c9;
  width: 450px;
  font-size: 120%;
  font-weight: bolder;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('../images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

.fielderror {
    color: red;
    font-weight: bold;
}

.rating-0 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-00.gif');
}

.rating-1 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-01.gif');
}

.rating-2 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-02.gif');
}

.rating-3 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-03.gif');
}

.rating-4 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-04.gif');
}

.rating-5 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-05.gif');
}

.rating-6 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-06.gif');
}

.rating-7 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-07.gif');
}

.rating-8 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-08.gif');
}

.rating-9 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-09.gif');
}

.rating-10 {
  width: 92px;
  height: 15px;
  background: URL('../images/stars-10.gif');
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
}
#menu li {
      display: inline;
}
#menu a {
color: #fff;

text-decoration: none;
}

#menu a:hover {
color: #369;
background: #fff;
}

a.intersection {font-weight: bold;}

.userbid { background-color: #cff;}
