{% extends "base.html" %}

{% block content %}


<h1>Password change</h1>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">


<p class="aligned wide"><label for="id_old_password">Old password:</label><input type="password" id="id_old_password" class="vPasswordField required" name="old_password" size="30" value="" maxlength="30" /></p>

<p class="aligned wide"><label for="id_new_password1">New password:</label><input type="password" id="id_new_password1" class="vPasswordField required" name="new_password1" size="30" value="" maxlength="30" /></p>

<p class="aligned wide"><label for="id_new_password2">Confirm password:</label><input type="password" id="id_new_password2" class="vPasswordField required" name="new_password2" size="30" value="" maxlength="30" /></p>

<p><input type="submit" value="Change my password" /></p>

</form>


        
        <br class="clear" />

{%endblock%}
